# Dotfiles init cache
/.selected

# Profile stuff for just this machine
/.local

# Lots of junk goes in here.
/backups/

Brewfile
*.zip
/modules/fonts/*/
FiraCodeiScript/
_build/

# GNU Global
/GPATH
/GRTAGS
/GTAGS

# ctags
/.ctags.d
/tags

# Other module-specific stuff
/modules/dev-tools/*.vim
